@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("reset.scss");
* {
	margin: 0;
	padding: 0;
	border: none;
}
.btn {
	@apply rounded-md py-1.5 px-4 cursor-pointer transition-all text-white bg-[#590DF2] font-bold;
	&:disabled {
		@apply bg-gray-600;
	}
}
body,
html {
	width: 100%;
	height: 100%;
}
body {
	padding: 120px;
}
input {
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 4px 12px;
}
